.maintd {
      width: 33%;
      vertical-align: top;
      text-align: center;
      margin-left: auto; 
      margin-right: auto;
    font-size: 1.0em;
}

.zoom {
  box-shadow: 0 0 8px 8px white inset;
  transition: transform 1.0s; /* Animation */
  overflow: hidden; 
  cellspacing: 0px; 
  margin: 0 0 0 0;"
/*  margin: 0 auto;  */
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
